
.pad50{
  padding-top: 50px;
}
* {
  font-family: 'Open Sans', sans-serif;
}
.slider {
  position: relative;
  width: 100% cover;
  height:100%;
}
.slide {
  position: absolute;
  top: 0;
  left: 0;
}
.arrows {
  position: absolute;
  top: 10px;
  right: 20px;
}
.arrows img {
  height: 32px;
}
h1 {
  text-align: center;
  padding: 10px;
  font-size: 40px;
  color: #222;
}

.bday-wish {
  background-color: #222222;
  color: white;
  font-size: 22px;
  height: 273px;
  width: 360px;
}
.bday-wish p {
  padding: 5px;
}
/* entire container, keeps perspective */

div[ui-view].ng-enter {
    -webkit-animation: fadeIn 2.0s;
    animation: fadeIn 2.0s;
}


.ng-hide-remove {
    -webkit-animation: bounceIn 2.5s;
    animation: bounceIn 2.5s;
}
 
.ng-hide-add {
    -webkit-animation: flipOutX 2.5s;
    animation: flipOutX 2.5s;
    display: block !important;
}