<!-- HOME PAGE -->
<!-- FRONT OF CARD 2 IMAGE SLIDESHOW  WITH GREETING -->

<!-- FIRST IMAGE -->
<!-- OPEN CARD TO BIRTHDAY GREETINGS STATE -->

<!-- SECOND IMAGE  -->
<!-- OPEN CARD TO PHOTOS STATE -->


 <carousel class="fullwidthbanner-container">
    <slide ng-repeat="slide in slides" active="slide.active">
        <img ng-src="{{slide.src}}">
        <div class="carousel-caption">
          <h1>{{slide.title}}</h1>
          <p>{{slide.caption}}</p>
        </div>
    </slide>
</carousel>



