<div class="fullwidthbanner-container">
  	<div ng-repeat="image in images" ng-show="image.visible">
    	<img class="banner" ng-src="{{image.src}}" />
    	<h1 class="text">{{image.title}}</h1>
    	<h1 class="text">{{image.caption}}</h1>
    	<button class="btn btn-success" ui-sref="{{image.state}}">{{image.btn}}</button>
  	</div>
  	<div class="arrows">
	    <a href="#" class="text-left" ng-click="prev()">
	      	<img src="img/left-arrow.png" />
	    </a>
	    <a href="#" class="text-right" ng-click="next()">
	      	<img src="img/right-arrow.png" />
	    </a>
  	</div>
</div>